<form action="pedidos" method="post">
    <p>Cliente: </p>
    <input type="text" name="cliente" id="client">
    <p>Nome do Pedido: </p>
    <input type="text" name="pedido" id="titulo">
    <p>Descrição do pedido: </p>
    <input type="text" name="description">
    <p>Quantidade: <input type="number" name="quant" id=""> <button type="submit">Realizar pedido</button></p>
    
    
</form>